.upper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
  height: 80vh;
  font-size: 18px;
  background-size: cover;
  padding-bottom: 40px;
}

.name {
  margin-bottom: 10px;
  font-size: 60px;
}

.tags {
  color: black;
  padding: 4px;
  border-radius: 4px;
  white-space: nowrap;
  background-color: rgba(240, 240, 240, 1);
  font-weight: bold;
}

.rating {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.ratingNumber {
  font-size: 18px;
  margin-left: 15px;
}

.time {
  margin-top: 20px;
}
